.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #000000;
}

body {
  background-image: linear-gradient(
    45deg,
     #fff1eb  0%,
     #ace0f9 100%
  );
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  line-height: 19px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: #1f3c88;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 38px;
}

h3 {
  text-align: center;
  font-size: 24px;
}

h4 strong {
  text-align: center;
  font-size: 50px;
  line-height: 1;
}

h4 .units {
  position: relative;
  top: -30px;
}

h5 {
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
}

h6 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
}

li {
  list-style: none;
  display: inline-block;
  text-align: left;
  font-weight: 100;
  height: -20px;
  font-size: 19px;
  padding-top: 12px;
}

img {
  height: 80px;
  line-height: 1px;
  margin-top: -50px;
}

.container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.container2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
}

.container3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
}

.btn-primary {
  margin: 0 auto;
  display: block;
  right: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.current-location {
  background-color: #ffd271;
  float: right;
  margin-right: 5px;
}
